---
//component imports
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
// get all files with .md ending
const allPosts = await Astro.glob("./*.md");
---

<MainLayout title="Blog" description="My Blog">
  <section class="container" aria-label="New Blog Posts">
    <h1>New Blog Posts</h1>
    <div class="post-container">
      {
        allPosts.map((post) => {
          return (
            <PostCard
              frontmatter={post.frontmatter}
              url={post.url}
              tagType="h2"
            />
          );
        })
      }
    </div>
  </section>
</MainLayout>
